body {
    width:100%;
    height:100%;
    margin: 0px;
    overflow-x: hidden;
}

.brand-logo{
    font-family: 'Open Sans';
    font-weight: bold;
    letter-spacing: -0.115em;
    font-size: 1.5em;
}

.mobile-navbar {
    .brand-logo {
        color: $primary;
    }
}

.section-full-height {
    min-height: calc(100vh - 56px - 125px);
}
